@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi sitio</h1>
    <h2 class="display-4">Estamos practicando</h2>
    <p>Mi perfil en Linkedin <a href="https://www.linkedin.com/in/jdmarquezdiaz/">David J. Marquez</a>.</p>
</div>
